In [11]:
!ls -all lab1

total 2928
drwxr-xr-x  5 rsimham  staff     170 Jan 21 20:02 .
drwxr-xr-x  7 rsimham  staff     238 Jan 21 20:01 ..
-rw-r--r--@ 1 rsimham  staff    6148 Jan 21 20:00 .DS_Store
-rw-r--r--@ 1 rsimham  staff  745218 Jan 21 19:59 lab1-irs990-2016data.csv
-rw-r--r--@ 1 rsimham  staff  745218 Jan 21 19:59 results-20180121-195918.csv

In [13]:
#read in the csv file

import pandas as pd
df = pd.read_csv("lab1/lab1-irs990-2016data.csv")

In [19]:
# from the instructor: note that there are more compact syntax representations for this
# the "replace" function in pandas is very powerful
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html 

import numpy as np

df = df.replace(to_replace='?',value=np.nan)

In [21]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 246 entries, ein to totsupp509
dtypes: int64(169), object(77)
memory usage: 1.9+ MB

,ein,tax_pd,subseccd,f1096cnt,fw2gcnt,noemplyeesw3cnt,f8282cnt,initiationfees,grsrcptspublicuse,grsincmembers,...,exceeds1pct509,subtotpub509,pubsupplesub509,samepubsuppsubtot509,grsinc509,unreltxincls511tx509,subtotsuppinc509,netincunrelatd509,othrinc509,totsupp509
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03,1.000000e+03,...,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
mean,4.725559e+08,201518.615000,7.657000,1378.837000,1.070000,143.154000,0.002000,1.051211e+05,1.091805e+05,4.149861e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,2.635630e+08,37.990104,3.497654,11087.885399,13.981222,947.870447,0.063246,4.162644e+05,4.384745e+05,2.418691e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.003222e+07,201012.000000,2.000000,0.000000,0.000000,24.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.514273e+08,201510.000000,5.000000,2.000000,0.000000,34.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.237818e+08,201512.000000,7.000000,15.000000,0.000000,56.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,6.203977e+08,201512.000000,8.000000,45.000000,0.000000,118.250000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,9.903478e+08,201610.000000,29.000000,240765.000000,347.000000,29102.000000,2.000000,5.975869e+06,8.646514e+06,3.715135e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# jupyter nbextension install facets-dist